@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

@import url("./home/home.css");
@import url("./startMenu/startMenu.css");
@import url("./mainGameScreen/mainGameSreen.css");
@import url("./mainGameScreen/musicControl.css");
@import url("./userInputMenu/userInput.css");
@import url("./weapons/weaponLaser.css");



@font-face {
    font-family: dogica;
    src: url('./fonts/dogica.woff');
}


/* All common css rules should be written in the main index css file */

body{
    font-family: 'Poppins', sans-serif !important;
	
}

main{
	position: absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	margin: 0.5em;
    border-radius: 7px;
	background-image: url(../images/background.jpg);
}




html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}