#weaponLaser{
    height: 4px;
    background: brown;
    position: absolute;
    top: 50%;
    bottom: 50%;
    z-index: 100;
    left: 50%;
    right: 50%;
    transition: all .3s linear;
    transform: translateX(-50%);
    border-radius: 137px;
    box-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 18px #fff, 0 0 38px #f09, 0 0 73px #f09, 0 0 80px #f09, 0 0 94px #f09, 0 0 140px #f09;
}