@import url("./mainGameScreen-Section1.css");
@import url("./mainGameScreen-Section2.css");
@import url("./mainGameScreen-Section3.css");
@import url("./deleteHtmlExplodeAni.css");


#mainGameScreen{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 5%;
    border-radius: 37px;
    border: 6px solid #43009f;
    overflow: hidden;
    box-shadow: 0 0 7px #43009f, 0 0 42px #43009f, 0 0 1px #43009f, 0 0 11px #43009f, 0 0 10px #43009f, 0 0 10px #43009f, 0 0 37px #43009f, 0 0 41px #43009f;
}


#mGS-main-wrapper{
    display: grid;
    grid-template-columns: 0.7fr 1.3fr 1fr;
    justify-items: center;
    grid-template-rows: 1fr;
    height: 100%;
    width: 100%;
}



